$primary-text: #373737;
$primary-bg: #ffffff;
$primary-btn: #08c;
$secondary-text: #ffffff;
$secondary-bg: #ece2d8;
$ternary-text: #ff8800;
$ternary-bg: #f5ebea;
$blue-color: #08c;
$second2ary-bg: #ecebeb;
